In [14]:
# install Java your Colab environment

!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [15]:
# Install Pyspark

!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=f038959a4157e1ee524699ed80be8640e134bdbe665bd59245f044e9a1ba899e
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [32]:
!ls

bank_prospects.csv  sample_data		     spark-3.5.0-bin-hadoop3.tgz
retailstore.csv     spark-3.5.0-bin-hadoop3

# download spark

In [ ]:
!wget https://dlcdn.apache.org/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz

--2023-12-06 05:16:26--  https://dlcdn.apache.org/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz
Resolving dlcdn.apache.org (dlcdn.apache.org)... 151.101.2.132, 2a04:4e42::644
Connecting to dlcdn.apache.org (dlcdn.apache.org)|151.101.2.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 400395283 (382M) [application/x-gzip]
Saving to: ‘spark-3.5.0-bin-hadoop3.tgz’

spark-3.5.0-bin-had 100%[===================>] 381.85M   220MB/s    in 1.7s

2023-12-06 05:16:29 (220 MB/s) - ‘spark-3.5.0-bin-hadoop3.tgz’ saved [400395283/400395283]

In [ ]:
!ls

retailstore.csv  sample_data  spark-3.5.0-bin-hadoop3.tgz

In [ ]:
# Extract spark-3.5.0-bin-hadoop3.tgz

!tar -xvf spark-3.5.0-bin-hadoop3.tgz

In [18]:
# install findspark

!pip install -q findspark

In [ ]:
!ls

retailstore.csv  sample_data  spark-3.5.0-bin-hadoop3  spark-3.5.0-bin-hadoop3.tgz

In [ ]:
!ls spark-3.5.0-bin-hadoop3/

bin   data	jars	    LICENSE   NOTICE  R		 RELEASE  yarn
conf  examples	kubernetes  licenses  python  README.md  sbin

In [39]:
import os

In [24]:
# Environment configuration:

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.0-bin-hadoop3"

In [25]:
# Configuring the Spark Context:

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [28]:
# Testing spark

spark.createDataFrame([{"Google": "Colab","Spark" : "Scala"}, {"Google": "Dataproc","Spark" : "Python"}]).show()

+--------+------+
|  Google| Spark|
+--------+------+
|   Colab| Scala|
|Dataproc|Python|
+--------+------+

In [30]:
# Download dataset to enviroment

!wget https://raw.githubusercontent.com/yanseijiyan/HadoopProject1/main/bank_prospects.csv

--2023-12-06 06:01:27--  https://raw.githubusercontent.com/yanseijiyan/HadoopProject1/main/bank_prospects.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 306 [text/plain]
Saving to: ‘bank_prospects.csv’

bank_prospects.csv  100%[===================>]     306  --.-KB/s    in 0s

2023-12-06 06:01:27 (14.6 MB/s) - ‘bank_prospects.csv’ saved [306/306]

In [31]:
# See dataset

!cat bank_prospects.csv

Age,Salary,Gender,Country,Purchased
18,20000,Male,Germany,N
19,22000,Female,France,N
20,24000,Female,England,N
21,,Male,England,N
22,50000,Male,France,Y
23,35000,Female,England,N
24,,Male,Germany,N
25,32000,Female,France,Y
,35000,Male,Germany,N
27,37000,Female,France,N
27,37000,Female,unknown,N

In [43]:
# Load Dataset

df = spark.read.csv("bank_prospects.csv", header=True)

In [44]:
df.show()

+----+------+------+-------+---------+
| Age|Salary|Gender|Country|Purchased|
+----+------+------+-------+---------+
|  18| 20000|  Male|Germany|        N|
|  19| 22000|Female| France|        N|
|  20| 24000|Female|England|        N|
|  21|  NULL|  Male|England|        N|
|  22| 50000|  Male| France|        Y|
|  23| 35000|Female|England|        N|
|  24|  NULL|  Male|Germany|        N|
|  25| 32000|Female| France|        Y|
|NULL| 35000|  Male|Germany|        N|
|  27| 37000|Female| France|        N|
|  27| 37000|Female|unknown|        N|
+----+------+------+-------+---------+

In [55]:
# data Treatment missing Values


# drop rows with "unknown" in country column
df_new = df.filter(df['country'] != "unknown")

In [57]:
df_new.show()

+----+------+------+-------+---------+
| Age|Salary|Gender|Country|Purchased|
+----+------+------+-------+---------+
|  18| 20000|  Male|Germany|        N|
|  19| 22000|Female| France|        N|
|  20| 24000|Female|England|        N|
|  21|  NULL|  Male|England|        N|
|  22| 50000|  Male| France|        Y|
|  23| 35000|Female|England|        N|
|  24|  NULL|  Male|Germany|        N|
|  25| 32000|Female| France|        Y|
|NULL| 35000|  Male|Germany|        N|
|  27| 37000|Female| France|        N|
+----+------+------+-------+---------+

In [65]:
df_new.printSchema()

root
 |-- Age: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Purchased: string (nullable = true)

In [66]:
from pyspark.sql.types import IntegerType,FloatType

In [67]:
df_new2 = df_new.withColumn("Age", df_new["Age"].cast(IntegerType())).withColumn("Salary", df_new["Salary"].cast(FloatType()))

In [120]:
df_new2.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Salary: float (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Purchased: string (nullable = true)

In [69]:
df_new2.show()

+----+-------+------+-------+---------+
| Age| Salary|Gender|Country|Purchased|
+----+-------+------+-------+---------+
|  18|20000.0|  Male|Germany|        N|
|  19|22000.0|Female| France|        N|
|  20|24000.0|Female|England|        N|
|  21|   NULL|  Male|England|        N|
|  22|50000.0|  Male| France|        Y|
|  23|35000.0|Female|England|        N|
|  24|   NULL|  Male|Germany|        N|
|  25|32000.0|Female| France|        Y|
|NULL|35000.0|  Male|Germany|        N|
|  27|37000.0|Female| France|        N|
+----+-------+------+-------+---------+

In [117]:
from pyspark.sql.functions import mean


# lets take the mean values to fill NaN numeric values

In [125]:
mean_age = df_new2.select(mean(df_new2["age"])).collect()[0][0]

In [126]:
mean_age

22.11111111111111

In [127]:
mean_salary = df_new2.select(mean(df_new2["salary"])).collect()[0][0]

In [128]:
mean_salary

31875.0

In [129]:
# fill na values with mean
df_new3 = df_new2.na.fill(mean_salary, subset=["salary"])
df_new4 = df_new3.na.fill(mean_age, subset=["age"])

In [130]:
df_new4.show()

+---+-------+------+-------+---------+
|Age| Salary|Gender|Country|Purchased|
+---+-------+------+-------+---------+
| 18|20000.0|  Male|Germany|        N|
| 19|22000.0|Female| France|        N|
| 20|24000.0|Female|England|        N|
| 21|31875.0|  Male|England|        N|
| 22|50000.0|  Male| France|        Y|
| 23|35000.0|Female|England|        N|
| 24|31875.0|  Male|Germany|        N|
| 25|32000.0|Female| France|        Y|
| 22|35000.0|  Male|Germany|        N|
| 27|37000.0|Female| France|        N|
+---+-------+------+-------+---------+